.container {
    width:100%;
    margin: auto;
    min-height: 100vh;
    padding: 0 0.5rem;
    background-color: #e6e6e6;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
      "header"
      "description"
      "children";
}
.header {
    width: 100%;
    margin: auto;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    padding: 3rem 0 1rem 0;
    border-bottom: 1px solid black;
}
.description {
    width: 70%;
    grid-area: description;
    line-height: 1.5;
    font-size: 1rem;
    margin: 1rem;
    padding-left: 2rem;
}  
.children {
  width: 70%;
  grid-area: children;
}

/* Footer */
.logo {
  height: 1em;
}

.footer {
  margin: 0 1rem;
  height: 100px;
  border-top: 1px solid #eaeaea;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
