.container {
    width:100%;
    min-height: 100vh;
    padding: 0 0.5rem;
    background-color: #e6e6e6;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
      "header"
      "description"
      "children";
}
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    padding: 3rem 0 1rem 0;
    border-bottom: 1px solid black;
}
.description {
    grid-area: description;
    line-height: 1.5;
    font-size: 1rem;
    margin: 1rem;
    padding-left: 2rem;
}  
.children {
  grid-area: children;
}