.main {
  padding-bottom: 5rem;
  display: grid;
  grid-template-areas:
    "summaryInfo"
    "chartsGrid";
}
.summary {
  grid-area: summaryInfo;
  margin: 1rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

/* .title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
} */

/* .code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
} */


.logo {
  height: 1em;
}

.footer {
  margin: 0 1rem;
  height: 100px;
  border-top: 1px solid #eaeaea;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
